.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
}

.body {
  display: flex;
  align-items: center;
}

.titleContainer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}
